/* =============
    title
============= */

#branding-title {}


/* =============
    Coingo
============= */

#branding-coingo {
    div {
        h2{

        }

        ul{
            display: grid;
            grid-template-columns: 100%;
            gap: 20px;

            @include md{
                grid-template-columns: repeat(4, 1fr);
               // grid-template-rows: repeat(3, 1fr);
                grid-template-areas: 
                ". logo horz ."
                "card stat stat atm"
                ". video video .";
            }
            

            li{
                img {
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }

                video {
                    width: 100%    !important;
                    height: auto   !important;

                    @include lg{
                        width: 50%;
                    }
                  }
            }

            li:nth-child(1) {
                @include md{
                    grid-area: logo;
                }

            }

            li:nth-child(2) {
                @include md{
                    grid-area: horz; 
                }
            }

            li:nth-child(3) {
                @include md{
                    grid-area: card;
                }
            }

            li:nth-child(4) {
                @include md{
                    grid-area: stat;
                }
            }

            li:nth-child(5) {
                @include md{
                    grid-area: atm;
                }
            }

            li:nth-child(6) {
                @include md{
                    grid-area: video;
                }
            }
        }
    }
}

/* =============
    Ron Jon
============= */

#branding-ronjon {
    div {
        h2{

        }

        ul{
            display: grid;
            grid-template-columns: 100%;
            gap: 20px;

            @include md{
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                "logo logo logo logo"
                "card card van van"
                ". video video .";
            }
            

            li{
                img {
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }

                video {
                    width: 100%    !important;
                    height: auto   !important;

                    @include lg{
                        width: 75%;
                    }
                  }
            }

            li:nth-child(1) {
                @include md{
                    grid-area: logo;
                }

            }

            li:nth-child(2) {
                @include md{
                    grid-area: card; 
                }
            }

            li:nth-child(3) {
                @include md{
                    grid-area: van;
                }
            }

            li:nth-child(4) {
                @include md{
                    grid-area: video;
                }
            }
        }
    }
}