/* =============
    title
============= */

#portfolio-title {}

/* =============
    images
============= */

#portfolio-img {
    position: relative;

    ul{
  
        li{
            
            img {
                object-fit: cover;
                width: 100vw;
            }

            li:nth-child(1) {
                position: relative;

            }
            li:nth-child(2) {
                position: relative;

            }
            li:nth-child(3) {
                position: relative;

            }
            li:nth-child(4) {
                position: relative;

            }
            li:nth-child(5) {
                position: relative;

            }
            
        }
    }
}