/* =============
    title
============= */

#web-title {}

/* =============
    ver
============= */

#web-ver {
    div {
        h2 {}

        aside {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }

        h3{
            text-align: center;
            // text-decoration: none;
            // color: $red;
            a{
                text-decoration: none;
                color: $red;
            
        } 

        a:hover{
            color: $pink;
        }
    }

    }
}
/* =============
    Llama
============= */

#web-llama {
    div {
        h2 {}

        aside {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }

        h3{
            text-align: center;
            // text-decoration: none;
            // color: $red;
            a{
                text-decoration: none;
                color: $red;
            
        } 

        a:hover{
            color: $pink;
        }
    }

    }
}

/* =============
    draw
============= */

#web-draw {
    div {
        h2 {}

        aside {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }

        h3{
            text-align: center;
            // text-decoration: none;
            // color: $red;
            a{
                text-decoration: none;
                color: $red;
            
        }

        a:hover{
            color: $pink;
        }
    }

    }
}

/* =============
    Annapolis
============= */

#web-annapolis {
    div {
        h2 {}

        aside {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }

        h3{
            text-align: center;
            // text-decoration: none;
            // color: $red;
            a{
                text-decoration: none;
                color: $red;
            
        }

        a:hover{
            color: $pink;
        }
    }

    }
}
