/* =============
    Footer
============= */

footer {
    background-color: $black;
    position: relative;

    div {
        display: grid;
        grid-template-columns: 20% auto 20%;

        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li {
                color: white;
                padding: 5px;

                a:link,
                a:visited {
                    color: $white;
                    font-size: rem-calc(20);

                    &:hover,
                    &:active {
                        color: $red;
                    }

                    @include md {
                        font-size: rem-calc(25);
                        padding: 15px;
                    }

                    @include lg {
                        font-size: rem-calc(30);
                    }
                }
            }
        }


        #logo-container {
            padding: 5px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 30px;

                @include md {
                    width: initial;
                }
            }
        }

        #footer-copyright {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            p {
                color: white;
                font-size: rem-calc(10);
                padding-bottom: 10px;
                padding-top: 30px;

                @include md {
                    font-size: rem-calc(15);
                }
            }
        }
    }
}